@model Base.Entities.UIModels.ChatUser

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

//

    <!-- start: Content -->
    <div id="content" class="col-lg-10 col-sm-11" >

       
    <div class="row">

        <div class="col-lg-12" ng-controller="grpChatController">
            @Html.HiddenFor(x => x.Nick, new { @ng_model = "Nick" });
            <div class="box chat chat-full noOverflow" ng-model="contextName">
            @*<div class="box-header">
                <h2><i class="fa fa-list"></i>Chat Full width</h2>
                <div class="box-icon">
                    <a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>*@
                <div class="contacts" id="divContacts">
                    <div class="selectList on" ng-click="showRoomList()">
                        Room ({{rooms.length}} )
                    </div>
                    <div class="selectList" ng-click="showUserList()">
                        Users ({{usersInCurrentRoom.length}})
                    </div><div style="clear:both ; padding-bottom:2px;"></div>
                    <ul class="list" id="listrooms" ng-show="ShowRoom" >
                  
                        <li data-ng-repeat="room in rooms" ng-click="roomClicked(room.id)">
                            <img class="avatar" src="~/Content/assets/img/avatar.jpg" alt="avatar">
                            <span class="name">{{room.name}}  ({{room.users}})</span>
                            <span class="status" data-ng-class="room.active ? 'online' :'offline' "></span>
                            <span ng-if="room.unreadmessage > 0" class="important">{{room.unreadmessage}}</span>
                        </li>

                        @*<li>
                            <img class="avatar" src="~/Content/assets/img/avatar2.jpg" alt="avatar">
                            <span class="name">Łukasz Holeczek</span>
                            <span class="status offline"></span>
                        </li>*@
                        @*openePrivateChat closePrivateChat*@
                    </ul>
                    <ul class="list" id="listusers" ng-hide="ShowRoom">
                        <li data-ng-repeat="user in filteredUser = (roomUsers | filter: {id: to.id })[0].users" ng-click="openePrivateChat(user.id)">
                            <img class="avatar" src="~/Content/assets/img/avatar.jpg" alt="avatar">
                            <span class="name">{{user.name}}   </span>
                            <span class="status" data-ng-class="user.active ? 'online' :'busy' "></span>
                            <span ng-if="user.unreadmessage > 0" class="important">{{user.unreadmessage}}</span>
                        </li>
                       
                        @*<li>
                            <img class="avatar" src="~/Content/assets/img/avatar3.jpg" alt="avatar">
                            <span class="name">Łukasz Holeczek</span>
                            <span class="status busy"></span>
                        </li>*@
                    </ul>
                </div>
                <div class="conversation">
                    <div class="actions">
                        <div style="float:left ; width:50%; display:inline-block; overflow-x:hidden " id="divRoomsInList"> 
                        <ul>                       

                            <li data-ng-repeat="r in roomsLoggedIn ">
                                <div class="inline avt-txt-rect" style="" ng-click="roomClicked(room.id)">{{r.id}} </div>
                                <span ng-if="r.unreadmessage > 0" class="important">{{r.unreadmessage}}</span>
                                <span class="close" ng-click="roomClosed(r)">X</span>
                            </li>
                            @*<li><div class="inline avt-txt-rect" style="">S </div> 
                                <span class="close">X</span>  </li>
                            <li><div class="inline avt-txt-rect" style="">S </div> 
                                <span class="close">X</span>  </li>*@
                          </ul>                           
                            @*<img class="avatar" src="~/Content/assets/img/avatar3.jpg" alt="avatar">*@
                            
                        </div>
                        <div id="divPrivateList" style="float:left ; width:50%;display:inline-block; background-color:#b6ff00; overflow-x:hidden ; " >
                            @*<img ng-repeat="r in usersInPrivateChat " data-ng-src="~/Content/assets/img/{{r.avator}}" class=" avatar" alt="{{r.avator}}" ng-click="openePrivateChat(r.id)">*@
                            <ul>
                                <li data-ng-repeat="r in usersInPrivateChat " data-toggle="tooltip" title="{{r.name}}">
                                    <img class="avatar" ng-src="~/Content/assets/img/{{r.avatar}}" alt="{{r.name}}" ng-click="openePrivateChat(r.id)">
                                    @*<div class="inline avt-txt-rect" style="" ng-click="openePrivateChat(z.id)">{{r.id}} </div>*@
                                    <span ng-if="r.unreadmessage > 0" class="important">{{r.unreadmessage}}</span>
                                    <span class="close" ng-click="closePrivateChat(r)">X</span>
                                </li>
                            </ul>
                           
    @*<img class="avatar" src="~/Content/assets/img/avatar4.jpg" alt="avatar">*@
                        </div>
                    </div>
                    <ul class="talk">
                        @*<li>
                            <img class="avatar" src="~/Content/assets/img/avatar.jpg" alt="avatar">
                            <span class="name">Łukasz Holeczek</span>
                            <span class="time">1:32PM</span>
                            <div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                        </li>*@
                        <li ng-repeat="m in roomMessages | filter:{ to: to.id }" ng-show="to.type=='room'">
                            <img class="avatar" src="~/Content/assets/img/{{m.avatar}}" alt="avatar">
                            <span class="name">{{m.from}}</span>
                            <span class="time">{{m.time}}</span>
                            <div class="message">{{m.message}}</div>
                        </li>
                        <li ng-repeat="m in privateMessages | filter:{ to: to.id }" ng-hide="to.type=='room'">
                            <img class="avatar" src="~/Content/assets/img/{{m.avatar}}" alt="avatar">
                            <span class="name">{{m.from}}</span>
                            <span class="time">{{m.time}}</span>
                            <div class="message">{{m.message}}</div>
                        </li>

                      
                    </ul>
                    <div class="form">
                        <input type="text" ng-model="message" class="write-message" placeholder="Write Message" id="txtMessage">
                         <input type="button" class="btn btn-danger"  value="SEND" id="btnSend"  ng-click="sendMessage()"/>
                    </div>
                </div>
            </div>

        </div><!--/col-->

    </div>

        <button class="btn btn-primary" id="add-regular"><i class="halflings-icon white bell"></i>Regular</button>

</div>
    <!-- end: Content -->

@section Scripts
{

<script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
<script src="~/signalr/hubs"></script>
@*<script src="~/ChatScripts/GroupChat/GroupChat.js"></script>*@
<script type="text/javascript">
    //var app = angular.module("GroupChatApp", []);
</script>
<script src="~/Scripts/js/jquery.noty.js"></script>
@*<script src="~/ChatScripts/GroupChat/GroupChatCtrl.js"></script>*@
<script src="~/ChatScripts/GroupChat/GroupChatFactory.js"></script>
<script src="~/ChatScripts/GroupChat/GroupChatCtrl.js"></script>
@*<script src="~/ChatScripts/Factories.js"></script>
<script src="~/ChatScripts/headerController.js"></script>*@

}
<style>
    
.avt-txt-rect {
    background-color: rebeccapurple;
    color: wheat;
    font-size: x-large;
    font-weight: bold;
    width: 55px;
    height: 35px;
    text-align: left;
    padding-left: 20px;
    padding-top: 1px;
    float: left;
    margin: 3px 0 10px 10px;
}
.avt-txt-cir {
    background-color:rebeccapurple;
     color:wheat;
      font-size:18px; 
     font-weight:bold;
     width:30px; height:30px; 
     text-align:center;
      padding-top:2px; 
      float:left; 
       border-radius: 50em;  
         /*margin: 10px 0 10px 10px;*/
             margin: 4px 0 4px 8px;
}

   
 .Avator-img {
    position: relative;
    padding: 0 10px;
    color: #fff;
    background: #ff3175;
    font-size:30px;

}
 
#divRoomsInList ul {
    list-style-type: none;
    margin: 0 !important; 
    padding: 0!important; 
    overflow: hidden!important; 
   
    height:48px !important;
}

#divRoomsInList ul li {
    float: left!important; 
    padding: 5px 0px 5px 0px;

}

#divRoomsInList ul li a {
    display: block!important; 
    color: white!important; 
    text-align: center!important; 
    padding: 4px 6px!important; 
    text-decoration: none!important; 
}

#divRoomsInList ul li .important {
    font-size: 9px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 27px;
    line-height: 9px;
    padding: 2px 6px;
    color: white;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    background: #ff5454;
}   

#divRoomsInList ul li .close {
    font-size: 9px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 47px;
    line-height: 9px;
    padding: 2px 6px;
    color: black;
    background: #fff;
    opacity: 0.5!important;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111!important; 
}
   .selectList {
    float: left;
    min-height: 40px;
    font-weight: bold;
    font-size: 14px;
    background-color: #383e4b;
    color: white;
    width: 49%;
    padding: 17px 16px 11px 21px;
    border-left: 1px solid whitesmoke;
}
    .on {
        background-color:#e4e6eb;
        color:black;
        border-bottom:1px solid #808080;
        /*opacity:.7!important;*/
    }
    .selectList :hover {
        opacity:.6!important;
    }

    #divPrivateList ul {
    list-style-type: none;
    margin: 0 !important; 
    padding: 0!important; 
    overflow: hidden!important; 
   
    height:50px !important;
}
    #divPrivateList ul li {
    float: left!important; 
    padding: 10px 0px 5px 0px;
    width:50px !important;

}

#divPrivateList ul li a {
    display: block!important; 
    color: white!important; 
    text-align: center!important; 
    padding: 4px 6px!important; 
    text-decoration: none!important; 
}

#divPrivateList ul li .important {
    font-size: 9px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 27px;
    line-height: 9px;
    padding: 2px 6px;
    color: white;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    background: #ff5454;
}   

#divPrivateList ul li .close {
    font-size: 9px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 40px;
    line-height: 9px;
    padding: 2px 6px;
    color: black;
    background: #fff;
    opacity: 0.5!important;
}
li img.avatar {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    position: relative!important;
    border-radius: 50em;
    width: 30px;
    padding-right:5px;
    margin: 2px 11px 8px 8px !important;
}
    #txtMessage {
        width:91%;
    }
     #btnSend {
        width:8%;
        background-color:#ff3175;
    }
     .chat .contacts ul.list {
       height: 400px!important;
    overflow-y: scroll!important;
}
</style>